<?php
$database_type = "mysql";
$database_default = "{{ cacti.db }}";
$database_hostname = "localhost";
$database_username = "{{ cacti.mysql_user }}";
$database_password = "{{ cacti.mysql_pass }}";
$database_port = "3306";
$database_ssl = false;
$url_path = "/cacti/";
/* Default session name - Session name must contain alpha characters */
//$cacti_session_name = "Cacti";
?>
