     systemLog:
           destination: file 
           path: "/var/log/mongodb/mongodb.log"
           logAppend: true 
           ### for debug ###
           verbosity: 1 ### 0-5, cang cao thi cang log nhieu info, va log sau hon
           quiet: false
           traceAllExceptions: true 
           timeStampFormat: ctime
     processManagement:
           fork: true ### daemond mode
           pidFilePath:  "/var/run/mongodb/mongod.pid"  
     net:
           port: 27017
           maxIncomingConnections: 1000000  
           wireObjectCheck: true 
           http:
                   enabled: false 
           unixDomainSocket:
                   enabled: false 
           ipv6: false 
     setParameter:
           enableLocalhostAuthBypass: 0
     security:
           authorization: "disabled"
           javascriptEnabled: true
     operationProfiling:
           slowOpThresholdMs: 2000
           mode: "slowOp"
     storage:
           dbPath: "/data/mongodb"
           directoryPerDB: true
           indexBuildRetry: true
           syncPeriodSecs: 60
           mmapv1:
                nsSize: 16 
                smallFiles: false
                journal:
                    commitIntervalMs: 100
     replication:
           secondaryIndexPrefetch: "all"

