#!/bin/bash

snap_name={{ backup_name }}
vg={{ lvm.vg_name }}
origin_name={{ lvm.origin_name }}
origin_volume=${vg}/${origin_name}
snap_volume=${vg}/${snap_name}
fs_type={{ lvm.fs_type }}
mount_point={{ backup_output }}
log="{{ log }}"
email_list="{{ email_to_list }}"
mail_sender="{{ email_from }}"

export PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
umount ${mount_point} > /dev/null

lvremove -f ${vg}/${snap_name} >> ${log} && lvcreate --snapshot --name ${snap_name} --extents 100%FREE ${origin_volume} >> ${log} && mkdir -p ${mount_point} && mount -t ${fs_type} ${snap_volume} ${mount_point}
status=$?
echo  "================================ SAVED LOG at `date`========================" >> ${log}

inter=$(route -n | grep "UG" | awk '{print $8}' | sort -n | uniq)
ip=$(ip a | grep inet | grep $inter | awk '{print $2}' | sed -e 's/\/.*$//')
[ ! $status -eq 0 ] &&  echo "LVM Backup ERROR!" | mail -r ${mail_sender} -s "Backup Error at server with ip=${ip} and hostname=`hostname`" ${email_list}
